[Unit]
Description=Grow rootfs partition and filesystem on first boot
DefaultDependencies=no
After=local-fs.target systemd-remount-fs.service
Wants=local-fs.target
ConditionPathExists=!/var/lib/sd-rootfs-resized

[Service]
Type=oneshot
ExecStart=/usr/sbin/sd-rootfs-resize.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
