/include/ "system-conf.dtsi"
/include/ "avnet-bsp.dtsi"

/ {
    gpio-leds {
        compatible = "gpio-leds";
        user-led {
            label = "user-led";
            gpios = <&gpio0 47 0>;
            default-state = "on";
            linux,default-trigger = "heartbeat";
        };
    };
};

&axi_iic_0 {
    status = "okay";
	clock-frequency = <100000>;
};

&axi_iic_sens_0 {
    status = "okay";
	clock-frequency = <100000>;
    #address-cells = <1>;
    #size-cells = <0>;

    ina219@40 {
        compatible = "ti,ina219";
        reg = <0x40>;
        shunt-resistor = <47000>;
        label = "h1-45_46";
    };

    ina219@43 {
        compatible = "ti,ina219";
        reg = <0x43>;
        shunt-resistor = <47000>;
        label = "h1-49_50";
    };

    ina219@41 {
        compatible = "ti,ina219";
        reg = <0x41>;
        shunt-resistor = <47000>;
        label = "h1-47_48";
    };

    ina219@42 {
        compatible = "ti,ina219";
        reg = <0x42>;
        shunt-resistor = <47000>;
        label = "h1-51_52";
    };

    ina219@44 {
        compatible = "ti,ina219";
        reg = <0x44>;
        shunt-resistor = <47000>;
        label = "h2-35_36";
    };

    ina219@45 {
        compatible = "ti,ina219";
        reg = <0x45>;
        shunt-resistor = <47000>;
        label = "h2-25_26";
    };

    ina219@46 {
        compatible = "ti,ina219";
        reg = <0x46>;
        shunt-resistor = <47000>;
        label = "h2-27_28";
    };

    tmp112@48 {
        compatible = "ti,tmp112";
        reg = <0x48>;
        #thermal-sensor-cells = <1>;
        label = "ambient-temp";
    };
};

&axi_quad_spi_0 {
     ltc2983: ltc2983@0 {
        compatible = "adi,ltc2983";
        reg = <0>;
        interrupt-parent = <&gpio0>;
        interrupts = <54 1>;

        spi-max-frequency = <500000>;

        #address-cells = <1>;
        #size-cells = <0>;

        thermocouple@1 {
            reg = <1>;
            adi,sensor-type = <2>;
            adi,single-ended;
        };

        thermocouple@3 {
            reg = <3>;
            adi,sensor-type = <2>;
            adi,single-ended;
        };

        thermocouple@5 {
            reg = <5>;
            adi,sensor-type = <2>;
            adi,single-ended;
        };

        thermocouple@7 {
            reg = <7>;
            adi,sensor-type = <2>;
            adi,single-ended;
        };

        thermocouple@9 {
            reg = <9>;
            adi,sensor-type = <2>;
            adi,single-ended;
        };
        
        thermocouple@11 {
            reg = <11>;
            adi,sensor-type = <2>;
            adi,single-ended;
        };

        thermocouple@13 {
            reg = <13>;
            adi,sensor-type = <2>;
            adi,single-ended;
        };

        thermocouple@15 {
            reg = <15>;
            adi,sensor-type = <2>;
            adi,single-ended;
        };

        thermocouple@19 {
            reg = <19>;
            adi,sensor-type = <2>;
            adi,single-ended;
        };
    };
};
